#display {
  border: solid 1px black;
  height: 275px;
  width: 500px;
  overflow: hidden;
}

.word {
  display: inline-block;
  padding: 0 15px;
  margin: 5px;
  font-size: 45px;
  background: #1c1c1c;
  color: white;
}

.space {
  display: inline-block;
}

.mystyle {
  color: red;
}

.key-mistake {
  color: red;
}

.key-correct {
  color: green;
}

.key-active {
  color: cyan;
}

.space:before {
}

.space-active {
  color: red;
}

.