* {
  font-family: $primary_font_family;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-style: normal;
  font-weight: 400;

  background-color: var(--background);
  color: var(--font-color);
}

a {
  font-size: 25px;
  font-family: $primary_font_family;
  text-decoration: none;
  color: #dedede;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 55px);

  button {
    display: flex;
    flex-direction: row;
  }
}

::placeholder,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit'] {
  padding-left: 7px;
}
