.theme-light {
  --background: #f2f0f0;
  --font-color: #677272;
  --highlight: #ffae8b;
  --register__button--bg: #242323;
  --register__button--font: #f2f0f0;
  --direction: auto;
}
.theme-dark {
  --background: #242323;
  --font-color: #677272;
  --highlight: #ffae8b;
  --register__button--bg: #f2f0f0;
  --register__button--font: #242323;
  --register__button--hightlight: #ffae8b;
  --direction: 0;
}
