.design_switch {
  position: relative;
  display: flex;
  width: 90px;
  justify-content: space-between;
}

.design_switch__icon {
  display: flex;
  height: 20px;
  width: 20px;
}

.design_switch__button {
  position: absolute;
  right: var(--direction);
  height: 100%;
  width: 50%;
}
